body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* add */ p { font-family: 'Lato', sans-serif; }

canvas {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

script {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
