p>a>img, p>a>video, figure>a>img, figure>a>video {
    border-radius: 5px;
}

a.bg-warning:hover::before {
    content: "⛶";
    display: block;
    color: white;
    background-color: rgba(0, 0, 0, .3);
    position: absolute;
    padding: .12rem .35rem 0 .3rem;
    border-radius: 5px 0;
}

img.align-left {
    margin-left: 0;
    margin-bottom: .5rem;
}

img.align-right {
    margin-right: 0;
    margin-bottom: .5rem;
}